@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Armata&family=Black+Ops+One&family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Armata&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 612px;
  height: 792px;
  background-color: #28221F;
  position: relative;
  top: 10px;
  bottom: 10px;
}

.container .grid-circle {
  position: absolute;
  z-index: 1;
}

.container .grid-circle .circle {
  border: 1px solid #fff;
  margin: 9px 0;
  -webkit-box-shadow: 14px 0 #fff, 28px 0 #fff, 42px 0 #fff, 56px 0 #fff;
          box-shadow: 14px 0 #fff, 28px 0 #fff, 42px 0 #fff, 56px 0 #fff;
}

.container .name {
  font-family: 'Squada One';
  font-size: 32px;
  color: #fff;
  letter-spacing: 4%;
}

.container .triangle {
  width: 0;
  top: 0;
  border-top: 40px solid #fff;
  border-right: 70px solid transparent;
}

.container .title {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  position: absolute;
  top: 38px;
  left: 16px;
}

.container .title .major {
  font-family: 'Squada One';
  font-size: 15px;
  color: #D79069;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.container .title .age {
  font-family: 'Black Ops One';
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  right: 30px;
  margin-top: 12px;
}

.container .loc1 {
  top: 40px;
  left: 336px;
}

.container .loc2 {
  top: 648px;
  left: 156px;
}

.container .img {
  position: absolute;
  top: 67px;
  left: 380px;
}

.container .img .avatar {
  position: relative;
  width: 153px;
  height: 152px;
  background-color: #E5E5E5;
  border-radius: 100%;
  z-index: 1000;
}

.container .img .list-contact {
  position: absolute;
  top: -50px;
  left: 110px;
  -webkit-transform: rotate(-34deg);
          transform: rotate(-34deg);
  z-index: 1;
}

.container .img .list-contact .contact {
  width: 164px;
  height: 21px;
  background-color: #fff;
  text-align: center;
  font-family: 'Cute Font';
  font-size: 16px;
  font-weight: 400;
  margin: 12px 0;
}

.container .infomation {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  right: -40px;
  top: 220px;
}

.container .workexperience {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  right: 248px;
  top: 540px;
}

.container .about {
  position: absolute;
  top: 182px;
  left: 140px;
  z-index: 10;
}

.container .about .name {
  letter-spacing: 0.05em;
}

.container .about p {
  margin-top: 12px;
  width: 260px;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Armata';
  color: #797373;
}

.container .skills {
  position: absolute;
  top: 400px;
  left: 22px;
}

.container .skills .skill {
  border: 1px solid #D79069;
  font-size: 25px;
  color: #D79069;
  font-family: 'Squada One';
  width: 75px;
  height: 75px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0;
}

.container .works {
  position: absolute;
  left: 327px;
  top: 445px;
  right: 23px;
}

.container .works .period {
  font-family: 'Cute Font';
  font-size: 20px;
  color: #fff;
}

.container .works p {
  margin: 12px 0;
  font-family: 'Armata';
  font-size: 14px;
  color: #797373;
}

.container .rectangle {
  width: 53px;
  height: 5px;
  background-color: #D79069;
  position: absolute;
}

.container .rec1 {
  top: 200px;
  left: 73px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.container .rec2 {
  top: 327.5px;
  right: 90px;
}

.container .rec3 {
  top: 600px;
  left: 268.5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.container .triangle-bottom {
  width: 50px;
  height: 50px;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 0 50%);
          clip-path: polygon(0 100%, 100% 100%, 0 50%);
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.container canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.container .title-shadow {
  font-family: 'Squada One';
  font-size: 32px;
  color: #28221F;
  text-shadow: 0 0 0.3px #fff;
  letter-spacing: 0.05em;
  position: absolute;
}

.container .sh1 {
  top: 165px;
  left: 210px;
  z-index: 1;
}

.container .sh2 {
  text-align: right;
  top: 360px;
  right: 20px;
}
/*# sourceMappingURL=style.css.map */